In [8]:
import pandas as pd

data = pd.read_csv('./data/train.csv')

In [9]:
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [10]:
Correct_Mileage= []
for i in data.Mileage:
    if str(i).endswith('km/kg'):
        i = i[:-6]
        i = float(i)*1.40
        Correct_Mileage.append(float(i))
    elif str(i).endswith('kmpl'):
        i = i[:-6]
        #print(i)
        Correct_Mileage.append(float(i))
    else :
        Correct_Mileage.append(float(i))


data['Mileage']=Correct_Mileage

In [11]:
data['Engine'] = data['Engine'].str.strip(' CC')
data['Power'] = data['Power'].str.strip(' bph')
data['Power'] = data['Power'].str.replace('null', '0')
data['New_Price'] = data['New_Price'].str.strip(' Lakh')
data['New_Price'] = data['New_Price'].str.strip(' Cr')
data['New_Price'] = data['New_Price'].astype(float).fillna(0)
data = data.fillna(0)

In [12]:
data['Price']       = round(((data['Price'] * 1219.74)), 2)
data['New_Price']   = round(((data['New_Price'].astype(float) * 1219.74)), 2)

In [13]:
tmp = data.iloc[194,:]
tmp

Name                 Honda City 1.5 GXI
Location                      Ahmedabad
Year                               2007
Kilometers_Driven                 60006
Fuel_Type                        Petrol
Transmission                     Manual
Owner_Type                        First
Mileage                             0.0
Engine                                0
Power                                 0
Seats                               0.0
New_Price                           0.0
Price                           3598.23
Name: 194, dtype: object

In [14]:
from scripts.db.car_db import Car_db
from scripts.model.car import Car
car_db = Car_db()

for i in range(data.shape[0]):
    data_tmp = data.loc[i,:]

    car = Car(name=data_tmp['Name'], location=data_tmp['Location'], year=data_tmp['Year'], kilometers_driven=data_tmp['Kilometers_Driven'], fuel_type=data_tmp['Fuel_Type'],
                transmission=data_tmp['Transmission'], owner_type=data_tmp['Owner_Type'], mileage=data_tmp['Mileage'], engine=data_tmp['Engine'], power=data_tmp['Power'], seats=data_tmp['Seats'], 
                new_price=data_tmp['New_Price'], price=data_tmp['Price'], user_id=0)

    car_db.create_car(car)